<div class="well">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h5 class="panel-title">Livraison</h5>
        </div>
        <div class="panel-body">
            <img width="180" src="/ecommerce_olds/web/img/block_img_1_1.png">
            <a href="{{ path('infolivraison' ) }}" class="btn btn-primary btn-mini">En savoir plus</a>
        </div>
    </div>
</div>