<div class="well">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h5> Paiement securise
            </h5></div>
        <div class="panel-body">
            <img width="180" src="/ecommerce_olds/web/img/block_img_2_1.png">
            <a href="{{ path('infopaiement' ) }}" class="btn btn-primary btn-mini">En savoir plus</a>

        </div>
    </div>
</div>