{% extends "::layout/layout.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
              <h4>{{page.titre}}</h4>
            <div class="span12">
               {{ page.contenu | raw }}
               
            </div>
        </div>
    </div>       
{% endblock %}