{% extends '::layout/layoutAdmin.html.twig' %}
{% block body -%}
    <h1>Creation un produits </h1>
    <form action="{{ path('adminProduits_create') }}" method="POST" {{ form_enctype(form) }} >
        {{ form(form) }}
    </form>
    <ul class="record_actions">
        <li>
            <a class="btn btn-danger" href="{{ path('adminProduits') }}">
                Retour
            </a>
        </li>
    </ul>
{% endblock %}
