{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}


    <h2>Modifier page </h2>
    <div class="span9">

        {{ form(edit_form) }}

        <ul class="record_actions">
            <li class="icon-">
                <a class="btn btn-danger" href="{{ path('adminPages') }}">
                    Retour
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>
{% endblock %}
